* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navbar-nav {
  background-color: yellowgreen;
}

header nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-family: cursive;
  padding: 0.5rem;
  margin-left: 2rem;
}

header nav ul a#link__naranja {
  color: #000;
}

header nav ul a#link__naranja:hover {
  color: #ff4500;
}

header nav .header__logo {
  height: 20rem;
  width: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 5rem;
}

header nav .header__logo img {
  max-width: 100%;
  height: auto;
}

header nav .header__nav--carrito {
  margin-right: 15rem;
}

p {
  font: "Indie Flower";
}

/*..................INDEX...................*/
a {
  font: "cursive";
}

.info__contacto__descripcion {
  font-size: 2rem;
  font-family: "cursive";
  text-align: center;
  padding: 2.5rem;
}

h1 {
  font: "Indie Flower";
}

.box {
  font-size: 5rem;
  opacity: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}

.subtitulos__especiales {
  font: "Roboto";
  font-size: 2.5rem;
  text-align: center;
}

.parrafos, .parrafos__descripcion {
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Indie Flower";
  text-align: center;
  background-color: #ffa500;
  width: 100%;
  margin: auto;
}

.parrafos__descripcion {
  width: 85%;
  margin-left: 1%;
}

.subtitulo__principal {
  text-align: center;
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.aside__titulo,
.form__titulo {
  font-family: "Roboto";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.aside__descripcion {
  font-family: "Indie Flower";
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  margin-left: 3.2rem;
}

/*..............PREGUNTAS FRECUENTES................*/
.fuente__preguntas {
  color: #000;
  font-family: "cursive";
  font-size: 3.5rem;
}

.bg--orange {
  background-color: #ffa500;
}

.bg--darkOrange {
  background-color: #ff4500;
}

.bg--brown {
  background-color: #523024;
}

/*--------------------------------------------INDEX: PORTADA-----------------------------------------------------*/
.row__portada__index {
  max-width: 100%;
  margin: auto;
}

.portada__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-image: url("../images/small-images/portada_index.jpg");
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
  margin-bottom: 5rem;
}

.portada__btn__link__al__menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

a #link__al__menu__especial {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.portada__btn__menu {
  margin: auto;
}

.portada__btn__menu,
.btn__secundario,
.btn__comprar,
.btn__seguir,
.btn__enviar,
.btn__enviar__footer {
  height: 100px;
  width: 500px;
  margin-left: 5rem;
  font-size: 3rem;
  font-family: "Roboto";
  color: #fff;
  background-color: #3a3838;
}

/*...........................................PORTADA PAGINA MENU..............................*/
.portada__menu {
  background-position: center;
  background-image: url("../images/viandas_calabaza.jpg");
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
}

/*...........................................PORTADA PAGINA PREGUNTAS FREC..............................*/
.portada__preguntas {
  background-position: center;
  background-image: url("../images/viandas_empresariales.jpg");
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
}

/*...........................................PORTADA PAGINA NOSOTROS..............................*/
.portada__nosotros {
  background-position: center;
  background-image: url("../images/plato_7.jpg");
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
  margin-bottom: 5rem;
}

/*...........................................PORTADA PAGINA CONTACTO..............................*/
.portada__contacto {
  background-position: center;
  background-image: url("../images/small-images/viandas_varias.jpg");
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
  margin-bottom: 5rem;
}

/*...........................................BOTONES ESTILOS..............................*/
.boton__menu, #btn__menu__main, #btn-link-preguntas, .btn__secundario, .btn__comprar, .btn__seguir {
  height: 100px;
  width: 500px;
  margin-left: 5rem;
  font-size: 3rem;
  font-family: "Roboto";
  color: #fff;
  background-color: #3a3838;
}

#btn__menu__main {
  width: 30%;
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-left: 35%;
}

#btn-link-preguntas {
  width: 230px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}


.btn__secundario,
.btn__comprar,
.btn__seguir, .btn__comprar {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.btn__comprar {
  height: 20%;
}

.btn__seguir {
  width: 30%;
  margin-left: 35%;
}
/*# sourceMappingURL=main.css.map */