header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.header__logo {
    height: 20rem;
    width: auto;
    justify-content: flex-start;
    margin-right: 5rem;

    img {
        max-width: 100%;
        height: auto;
    }
}

nav{
    ul{
        .navbar-nav {
            background-color: yellowgreen;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
            font-size: 2rem;
            font-family: cursive;
            padding: 0.5rem;
            margin-left: 2rem;

           & #link__naranja {
                color: #000;
            }
            
            & #link__naranja:hover {
                color: #ff4500;
            }
        }
    }

}

.header__nav--carrito {
    margin-right: 15rem;
}



