header {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .header__logo {
        height: 20rem;
        width: auto;
        justify-content: flex-start;
        margin-right: 5rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

}