/*--------------------------------------------INDEX: PORTADA-----------------------------------------------------*/

.row__portada__index {

    max-width: 100%;
    margin: auto;
}

.portada__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-image: url("../images/small-images/portada_index.jpg");
    background-size: cover;
    background-color: orange;
    height: 500px;
    font-size: 50px;
    font-weight: 30px;
    margin-bottom: 5rem;

}

.portada__btn__link__al__menu__container {
    display: flex;
    height: 500px;
}

a{
    & #link__al__menu__especial {
        align-self: center;

    }
}


.portada__btn__menu {

    margin: auto;
}

.portada__btn__menu,
.btn__secundario,
.btn__enviar,
.btn__enviar__footer {
    height: 100px;
    width: 500px;
    margin-left: 5rem;
    font-size: 3rem;
    font-family: "Roboto";
    color: #ffffff;
    background-color: #3a3838;

}

/*...........................................PORTADA PAGINA MENU..............................*/

.portada__menu {
    background-position: center;
    background-image: url("../images/viandas_calabaza.jpg");
    background-size: cover;
    background-color: orange;
    height: 500px;
    font-size: 50px;
    font-weight: 30px;
}


/*...........................................PORTADA PAGINA PREGUNTAS FREC..............................*/
.portada__preguntas {
    background-position: center;
    background-image: url("../images/viandas_empresariales.jpg");
    background-size: cover;
    background-color: orange;
    height: 500px;
    font-size: 50px;
    font-weight: 30px;
}

/*...........................................PORTADA PAGINA NOSOTROS..............................*/
.portada__nosotros {
    background-position: center;
    background-image: url("../images/small-images/plato_7.jpg");
    background-size: cover;
    background-color: orange;
    height: 500px;
    font-size: 50px;
    font-weight: 30px;
    margin-bottom: 5rem;
}

/*...........................................PORTADA PAGINA CONTACTO..............................*/
.portada__contacto {
    background-position: center;
    background-image: url("../images/small-images/viandas_varias.jpg");
    background-size: cover;
    background-color: orange;
    height: 500px;
    font-size: 50px;
    font-weight: 30px;
    margin-bottom: 5rem;
}