$main-font-family:"Indie Flower";
$special-font-family:"cursive";
$subtitulos-font-family:"Roboto";

p {
    font: $main-font-family;
}

/*..................INDEX...................*/
a {
    font: $special-font-family;
}

$datos-de-contacto-header:(
    fuenteTam: 2rem,
    fuenteFamilia: $special-font-family,
);

.info__contacto__descripcion {
    font-size: map-get($datos-de-contacto-header, fuenteTam);
    font-family: $special-font-family;
    text-align: center;
    padding: 2.5rem;

}

h1{
    font: $main-font-family;
}


$caja-titulos-anim-index:(
    fuenteTam: 5rem,
);

.box{
    font-size: map-get($caja-titulos-anim-index , fuenteTam);
    opacity: 0;
    width: 100%;
    text-align: center;
    position: absolute;
}

.subtitulos__especiales{
    font:$subtitulos-font-family;
    font-size: 2.5rem;
    text-align: center;
}

.parrafos {
    line-height: 3rem;
    font-size: 2rem;
    font-family: "Indie Flower";
    text-align: center;
    background-color: #ffa500;
    width: 100%;
    margin: auto;
}

.parrafos__descripcion {
    @extend .parrafos;
    width: 85%;
    margin-left: 1%;
}


/*..............PREGUNTAS FRECUENTES................*/

$botones-acordeon-preguntas:(
    colorFuente: black,
    fuenteTam: 3.5rem,
    fuenteFamilia: $special-font-family,
);

.fuente__preguntas {
    color: map-get($botones-acordeon-preguntas, colorFuente);
    font-family: map-get($botones-acordeon-preguntas, fuenteFamilia);
    font-size: map-get($botones-acordeon-preguntas, fuenteTam);
}